{{- $comment := .Site.Data.config.comment | default dict -}}
{{- $commentConfig := dict -}}
{{- if $comment.enable -}}
    <div id="comments">
        {{- /* utterances Comment System */ -}}
        {{- $utterances := $comment.utterances | default dict -}}
        {{- if $utterances.enable -}}
        <div id="utterances" class="comment"></div>
        {{- $commentConfig = dict "repo" $utterances.repo | dict "utterances" | merge $commentConfig -}}
        {{- $commentConfig = $utterances.issueTerm | default "pathname" | dict "issueTerm" | dict "utterances" | merge $commentConfig -}}
        {{- $commentConfig = dict "label" $utterances.label | dict "utterances" | merge $commentConfig -}}
        {{- $commentConfig = $utterances.lightTheme | default "github-light" | dict "lightTheme" | dict "utterances" | merge $commentConfig -}}
        {{- $commentConfig = $utterances.darkTheme | default "github-dark" | dict "darkTheme" | dict "utterances" | merge $commentConfig -}}
        <noscript>
            Please enable JavaScript to view the comments powered by <a href="https://utteranc.es/">utterances</a>.
        </noscript>
        {{- end -}}
    </div>
    {{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}

<script>
    var utterancesConfig = {
        repo: 'ayuayue/blogtalk',
        issueTerm: 'pathname',
        label: '',
        lightTheme: '',
        darkTheme: ''
    }
    var script = document.createElement('script');
          script.src = 'https://utteranc.es/client.js';
          script.type = 'text/javascript';
          script.setAttribute('repo', utterancesConfig.repo);
          script.setAttribute('issue-term', utterancesConfig.issueTerm);
          if (utterancesConfig.label) script.setAttribute('label', utterancesConfig.label);
          script.setAttribute('theme', this.isDark ? utterancesConfig.darkTheme : utterancesConfig.lightTheme);
          script.crossOrigin = 'anonymous';
          script.async = true;
          document.getElementById('utterances').appendChild(script);
</script>